<div class="flex m-10 mt-20">
  <section
    class="flex flex-col p-10 w-80 bg-gradient-to-b from-[#FFFFFF] rounded-2xl"
  >
    <app-photo></app-photo>
    <div class="">
      <li class="flex items-center mt-10">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          width="24"
          height="24"
        >
          <path fill="none" d="M0 0h24v24H0z" />
          <path
            d="M21 20h2v2H1v-2h2V3a1 1 0 0 1 1-1h16a1 1 0 0 1 1 1v17zm-2 0V4H5v16h14zM8 11h3v2H8v-2zm0-4h3v2H8V7zm0 8h3v2H8v-2zm5 0h3v2h-3v-2zm0-4h3v2h-3v-2zm0-4h3v2h-3V7z"
            fill="rgba(66,74,136,1)"
          />
        </svg>
        <span class="ml-3">{{
          (authService.authenticatedUser?.supervisor)!.firstname
        }}</span>
      </li>
      <li class="flex items-center mt-10">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          width="24"
          height="24"
        >
          <path fill="none" d="M0 0h24v24H0z" />
          <path
            d="M12 20.9l4.95-4.95a7 7 0 1 0-9.9 0L12 20.9zm0 2.828l-6.364-6.364a9 9 0 1 1 12.728 0L12 23.728zM12 13a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 2a4 4 0 1 1 0-8 4 4 0 0 1 0 8z"
            fill="rgba(66,74,136,1)"
          />
        </svg>
        <span class="ml-3">{{
          (authService.authenticatedUser?.supervisor)!.lastname
        }}</span>
      </li>
      <li class="flex items-center mt-10">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          width="24"
          height="24"
        >
          <path fill="none" d="M0 0h24v24H0z" />
          <path
            d="M4 22a8 8 0 1 1 16 0h-2a6 6 0 1 0-12 0H4zm8-9c-3.315 0-6-2.685-6-6s2.685-6 6-6 6 2.685 6 6-2.685 6-6 6zm0-2c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4z"
            fill="rgba(66,74,136,1)"
          />
        </svg>
        <span class="ml-3"
          >{{ (authService.authenticatedUser?.supervisor)!.email }}
        </span>
      </li>
    </div>
    <div class="border mt-20"></div>
    <div class="mt-14">
      <li class="flex items-center mt-10">
        <button
          class="flex"
          (click)="
            showContent0 = true;
            showContent1 = false;
            showContent2 = false;
            afficherDetailsAnnonce = false;
            showCandidacyDetails = false
          "
          class="flex text-[#424A88]"
          [class.text-red-500]="showContent0"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            width="24"
            height="24"
            *ngIf="!showContent0"
          >
            <path
              d="M9 1V3H15V1H17V3H21C21.5523 3 22 3.44772 22 4V20C22 20.5523 21.5523 21 21 21H3C2.44772 21 2 20.5523 2 20V4C2 3.44772 2.44772 3 3 3H7V1H9ZM20 11H4V19H20V11ZM8 13V15H6V13H8ZM13 13V15H11V13H13ZM18 13V15H16V13H18ZM7 5H4V9H20V5H17V7H15V5H9V7H7V5Z"
              fill="rgba(66,74,136,1)"
            ></path>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" 
          viewBox="0 0 24 24"
          width="24"
          height="24"
          *ngIf="showContent0">
          <path d="M9 1V3H15V1H17V3H21C21.5523 3 22 3.44772 22 4V20C22 20.5523 21.5523 21 21 21H3C2.44772 21 2 20.5523 2 20V4C2 3.44772 2.44772 3 3 3H7V1H9ZM20 11H4V19H20V11ZM8 13V15H6V13H8ZM13 13V15H11V13H13ZM18 13V15H16V13H18ZM7 5H4V9H20V5H17V7H15V5H9V7H7V5Z" fill="rgba(229,48,45,1)"></path></svg>
          <span class="ml-3">Agenda</span>
        </button>
      </li>
      <li class="flex items-center mt-10">
        <button
          class="flex"
          (click)="
            showContent0 = false;
            showContent1 = false;
            showContent2 = true;
            afficherDetailsAnnonce = false;
            showCandidacyDetails = false;
            getSupervisorIntershipOffers()
          "
          class="flex text-[#424A88]"
          [class.text-red-500]="showContent2"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            width="24"
            height="24"
            *ngIf="!showContent2"
          >
            <path fill="none" d="M0 0h24v24H0z" />
            <path
              d="M7 5V2a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v3h4a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h4zm2 8H4v6h16v-6h-5v3H9v-3zm11-6H4v4h5V9h6v2h5V7zm-9 4v3h2v-3h-2zM9 3v2h6V3H9z"
              fill="rgba(66,74,136,1)"
            />
          </svg>
          <svg  width="24"
          height="24"
          *ngIf="showContent2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M7 5V2C7 1.44772 7.44772 1 8 1H16C16.5523 1 17 1.44772 17 2V5H21C21.5523 5 22 5.44772 22 6V20C22 20.5523 21.5523 21 21 21H3C2.44772 21 2 20.5523 2 20V6C2 5.44772 2.44772 5 3 5H7ZM9 13H4V19H20V13H15V16H9V13ZM20 7H4V11H9V9H15V11H20V7ZM11 11V14H13V11H11ZM9 3V5H15V3H9Z" fill="rgba(229,48,45,1)"></path></svg>
          <span class="ml-3">Offres</span>
        </button>
      </li>
    </div>
  </section>
  <section
    class="w-3/4 ml-10 bg-gradient-to-b from-[#FFFFFF] rounded-2xl relative"
  >
    <button
      class="border border-[#E5302D] text-[#E5302D] rounded-full p-2 absolute right-16 -top-12"
      (click)="
        showContent0 = false;
        showContent1 = true;
        afficherDetailsAnnonce = false;
        showCandidacyDetails = false
      "
    >
      Ajouter une offre
    </button>
    <svg
      class="absolute right-1 -mt-8"
      (click)="logout()"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      width="24"
      height="24"
    >
      <path fill="none" d="M0 0h24v24H0z" />
      <path
        d="M5 22a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v3h-2V4H6v16h12v-2h2v3a1 1 0 0 1-1 1H5zm13-6v-3h-7v-2h7V8l5 4-5 4z"
        fill="rgba(66,74,136,1)"
      />
    </svg>

    <ng-container *ngIf="showContent0">
      <div class="m-6">
        <app-agenda></app-agenda>
      </div>
    </ng-container>

    <ng-container *ngIf="showContent1">
      <div class="mt-5">
        <app-add-offer></app-add-offer>
      </div>
    </ng-container>
    <ng-container *ngIf="showContent2">
      <div class="mt-5">
        <app-supervisor-offer-card
          [SupervisorIntershipOffers]="SupervisorIntershipOffers"
          (selectedOffer)="onSelectedOffer($event)"
          (deletedItem)="getSupervisorIntershipOffers()"
        ></app-supervisor-offer-card>
      </div>
    </ng-container>
    <ng-container *ngIf="afficherDetailsAnnonce">
      <app-supervisor-offer-details
        (selectedCandidacy)="onSelectedCandidacy($event)"
      ></app-supervisor-offer-details>
    </ng-container>

    <ng-container *ngIf="showCandidacyDetails">
      <app-candidacy-details></app-candidacy-details>
    </ng-container>
  </section>
</div>
