<full-calendar
  #calendar
  [options]="calendarOptions"
  [events]="events"
  eventClick="openModal($event)"
  [disable]="true"
></full-calendar>

<div *ngIf="isPopupVisible" class="popup-overlay">
  <div class="flex-col popup-container justify-between w-11/12">
    <div
      class="flex mx-auto justify-between relative xl:w-4/5 lg:w-4/5 md:w-4/5 sm:w-11/12 bg-white border rounded-full border-[#424A88] m-8"
    >
      <div
      id="switch"
        class="top-0 left-0 absolute w-1/2 h-full bg-[#424A88] rounded-full duration-500"
      ></div>
      <button id="1"
        class="w-1/2 p-4 outline-none rounded-full bg-transparent relative text-white"
        (click)="this.showContent0 = true; this.showContent1 = false;toggle();toggleColor2()"
      >
        Entretien
      </button>
      <button
      id="2"
        class="w-1/2 p-4 outline-none rounded-full bg-transparent relative text-[#424A88]"
        (click)="this.showContent0 = false; this.showContent1 = true; toggle();toggleColor1()"
      >
        Réunion
      </button>
    </div>
    <!-- Ajouter un entretien -->
    <form [formGroup]="frm" (ngSubmit)="addEvent()">
      <div *ngIf="showContent0">

       
        <div class="flex flex-col mt-10 ml-3 relative">
          <input
            type="text"
            id="title"
            placeholder="title"
            class="peer w-full bg-transparent border-b border-black border-opacity-40 focus:outline-none text-black placeholder-transparent"
            autocomplete="off"
            formControlName="title"
            required
          />
          <label
            for="title"
            class="absolute left-0 -mt-3.5 text-slate-500 peer-placeholder-shown:top-2 peer-focus:-top-1 peer-focus:text-xs transition-all"
            >Titre <span class="text-[#E5302D]">*</span></label
          >
        </div>
        <div class="flex flex-col mt-6 ml-3 relative">
          <input
            type="datetime-local"
            id="startDateTime"
            placeholder="startDateTime"
            class="peer w-full bg-transparent border-b border-black border-opacity-40 focus:outline-none text-black placeholder-transparent"
            autocomplete="off"
            formControlName="startDateTime"
            required
          />
          <label
            for="startDateTime"
            class="absolute left-0 -mt-3.5 text-slate-500 peer-placeholder-shown:top-2 peer-focus:-top-1 peer-focus:text-xs transition-all"
            >Début <span class="text-[#E5302D]">*</span></label
          >
        </div>
        <div class="flex flex-col mt-6 ml-3 relative">
          <input
            type="datetime-local"
            id="endDateTime"
            placeholder="endDateTime"
            class="peer w-full bg-transparent border-b border-black border-opacity-40 focus:outline-none text-black placeholder-transparent"
            autocomplete="off"
            formControlName="endDateTime"
            required
          />
          <label
            for="endDateTime"
            class="absolute left-0 -mt-3.5 text-slate-500 peer-placeholder-shown:top-2 peer-focus:-top-1 peer-focus:text-xs transition-all"
            >Fin<span class="text-[#E5302D] ml-1">*</span></label
          >
        </div>
        <div class="flex flex-col mt-6 ml-3 relative">
          <input
            type="text"
            id="description"
            placeholder="description"
            class="peer w-full bg-transparent border-b border-black border-opacity-40 focus:outline-none text-black placeholder-transparent"
            autocomplete="off"
            formControlName="description"
            required
          />
          <label
            for="description"
            class="absolute left-0 -mt-3.5 text-slate-500 peer-placeholder-shown:top-2 peer-focus:-top-1 peer-focus:text-xs transition-all"
            >Description<span class="text-[#E5302D] ml-1">*</span></label
          >
        </div>
        <div class="flex flex-col mt-6 ml-3 relative">
          <select
            id="idIntern"
            class="peer w-full bg-transparent border-b border-black border-opacity-40 focus:outline-none text-black placeholder-transparent"
            autocomplete="off"
            formControlName="idIntern"
            required
          >
            <option
              value="{{ candidacie.idIntern }}"
              *ngFor="let candidacie of candidacies"
            >
              {{ candidacie.firstname }} {{ candidacie.lastname }}
            </option>
          </select>
          <label
            for="idIntern"
            class="absolute left-0 -mt-3.5 text-slate-500 peer-placeholder-shown:top-2 peer-focus:-top-1 peer-focus:text-xs transition-all"
            >Candidat<span class="text-[#E5302D] ml-1">*</span></label
          >
        </div>
        <div class="flex justify-around items-center my-20">
          <button
            type="submit"
            id="btnSubmit"
            class="w-40 h-10 text-white bg-[#E73130] rounded-full"
            (click)="openSnackBar('Entretien ajouté avec succés', 'fermer')"
          >
            Ajouter
          </button>
          <button
            class="w-40 h-10 text-white bg-[#E73130] rounded-full"
            (click)="closePopup()"
          >
            Fermer
          </button>
        </div>
      </div>
    </form>
    <!-- Ajouter une reunion -->
    <form [formGroup]="frm" (ngSubmit)="addEvent()">
      <div *ngIf="showContent1">
      
        <div class="flex flex-col mt-10 ml-3 relative">
          <input
            type="text"
            id="title"
            placeholder="title"
            class="peer w-full bg-transparent border-b border-black border-opacity-40 focus:outline-none text-black placeholder-transparent"
            autocomplete="off"
            formControlName="title"
            required
          />
          <label
            for="title"
            class="absolute left-0 -mt-3.5 text-slate-500 peer-placeholder-shown:top-2 peer-focus:-top-1 peer-focus:text-xs transition-all"
            >Titre <span class="text-[#E5302D]">*</span></label
          >
        </div>
        <div class="flex flex-col mt-6 ml-3 relative">
          <input
            type="datetime-local"
            id="startDateTime"
            placeholder="startDateTime"
            class="peer w-full bg-transparent border-b border-black border-opacity-40 focus:outline-none text-black placeholder-transparent"
            autocomplete="off"
            formControlName="startDateTime"
            required
          />
          <label
            for="startDateTime"
            class="absolute left-0 -mt-3.5 text-slate-500 peer-placeholder-shown:top-2 peer-focus:-top-1 peer-focus:text-xs transition-all"
            >Début <span class="text-[#E5302D]">*</span></label
          >
        </div>
        <div class="flex flex-col mt-6 ml-3 relative">
          <input
            type="datetime-local"
            id="endDateTime"
            placeholder="endDateTime"
            class="peer w-full bg-transparent border-b border-black border-opacity-40 focus:outline-none text-black placeholder-transparent"
            autocomplete="off"
            formControlName="endDateTime"
            required
          />
          <label
            for="endDateTime"
            class="absolute left-0 -mt-3.5 text-slate-500 peer-placeholder-shown:top-2 peer-focus:-top-1 peer-focus:text-xs transition-all"
            >Fin<span class="text-[#E5302D] ml-1">*</span></label
          >
        </div>
        <div class="flex flex-col mt-6 ml-3 relative">
          <input
            type="text"
            id="description"
            placeholder="description"
            class="peer w-full bg-transparent border-b border-black border-opacity-40 focus:outline-none text-black placeholder-transparent"
            autocomplete="off"
            formControlName="description"
            required
          />
          <label
            for="description"
            class="absolute left-0 -mt-3.5 text-slate-500 peer-placeholder-shown:top-2 peer-focus:-top-1 peer-focus:text-xs transition-all"
            >Description<span class="text-[#E5302D] ml-1">*</span></label
          >
        </div>
        <div class="flex flex-col mt-6 ml-3 relative">
          <select
            id="idIntern"
            class="peer w-full bg-transparent border-b border-black border-opacity-40 focus:outline-none text-black placeholder-transparent"
            autocomplete="off"
            formControlName="idIntern"
            required
          >
            <option hidden></option>
            <option
              value="{{ candidacies.idIntern }}"
              *ngFor="let candidacies of candidaciesStatus"
            >
              {{ candidacies.firstname }} {{ candidacies.lastname }}
            </option>
          </select>
          <label
            for="idIntern"
            class="absolute left-0 -mt-3.5 text-slate-500 peer-placeholder-shown:top-2 peer-focus:-top-1 peer-focus:text-xs transition-all"
            >Stagiaire<span class="text-[#E5302D] ml-1">*</span></label
          >
        </div>

        <div class="flex justify-around items-center my-20">
          <button
            type="submit"
            id="btnSubmit"
            class="w-40 h-10 text-white bg-[#E73130] rounded-full"
            (click)="
              seType(); openSnackBar('Entretien ajouté avec succés', 'fermer')
            "
          >
            Ajouter
          </button>
          <button
            class="w-40 h-10 text-white bg-[#E73130] rounded-full"
            (click)="closePopup()"
          >
            Fermer
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- Pop up pour la modification et la suppression de l'evenement -->
<div *ngIf="showEventModal" class="popup-overlay">
  <div class="modal-dialog popup flex-col justify-between w-11/12 relative">
    <div class="modal-content">
      <h1 class="text-[#424A88] font-bold absolute top-10 left-40">
        Modifier un événement
      </h1>
      <div class="modal-header">
        <button
          type="button"
          class="absolute right-4 top-3"
          (click)="closeModal()"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            height="24"
            width="24"
          >
            <path
              d="M12.0007 10.5865L16.9504 5.63672L18.3646 7.05093L13.4149 12.0007L18.3646 16.9504L16.9504 18.3646L12.0007 13.4149L7.05093 18.3646L5.63672 16.9504L10.5865 12.0007L5.63672 7.05093L7.05093 5.63672L12.0007 10.5865Z"
              fill="rgba(66,74,136,1)"
            ></path>
          </svg>
        </button>
      </div>
      <div class="mt-24">
        <!-- Formulaire avec les champs pour les informations de l'événement -->
        <form [formGroup]="frm">
          <div class="form-group flex flex-col mt-10 ml-3 relative">
            <input
              type="text"
              id="eventName"
              placeholder="title"
              name="eventName"
              class="peer w-full bg-transparent border-b border-black border-opacity-40 focus:outline-none text-black placeholder-transparent"
              autocomplete="off"
              ngModel="{{ selectedEvent?.title }}"
              formControlName="title"
              required
            />
            <label
              for="eventName"
              class="absolute left-0 -mt-3.5 text-slate-500 peer-placeholder-shown:top-2 peer-focus:-top-1 peer-focus:text-xs transition-all"
              >Titre <span class="text-[#E5302D]">*</span></label
            >
          </div>
          <div class="form-group flex flex-col mt-6 ml-3 relative">
            <input
              type="text"
              id="eventStartDateTime"
              name="eventStartDateTime"
              placeholder="startDateTime"
              class="peer w-full bg-transparent border-b border-black border-opacity-40 focus:outline-none text-black placeholder-transparent"
              autocomplete="off"
              ngModel="{{ selectedEvent?.startDateTime }}"
              formControlName="startDateTime"
            />
            <label
              for="eventStartDateTime"
              class="absolute left-0 -mt-3.5 text-slate-500 peer-placeholder-shown:top-2 peer-focus:-top-1 peer-focus:text-xs transition-all"
              >Début <span class="text-[#E5302D]">*</span></label
            >
          </div>
          <div class="flex flex-col mt-6 ml-3 relative">
            <input
              type="text"
              id="eventEndDateTime"
              placeholder="endDateTime"
              name="eventEndDateTime"
              ngModel="{{ selectedEvent?.endDateTime }}"
              class="peer w-full bg-transparent border-b border-black border-opacity-40 focus:outline-none text-black placeholder-transparent"
              autocomplete="off"
              formControlName="endDateTime"
            />
            <label
              for="eventEndDateTime"
              class="absolute left-0 -mt-3.5 text-slate-500 peer-placeholder-shown:top-2 peer-focus:-top-1 peer-focus:text-xs transition-all"
              >Fin<span class="text-[#E5302D] ml-1">*</span></label
            >
          </div>
          <div class="flex flex-col mt-6 ml-3 relative">
            <input
              type="text"
              id="description"
              placeholder="description"
              name="description"
              ngModel="{{ selectedEvent?.description }}"
              class="peer w-full bg-transparent border-b border-black border-opacity-40 focus:outline-none text-black placeholder-transparent"
              autocomplete="off"
              formControlName="description"
              required
            />
            <label
              for="description"
              class="absolute left-0 -mt-3.5 text-slate-500 peer-placeholder-shown:top-2 peer-focus:-top-1 peer-focus:text-xs transition-all"
              >Description<span class="text-[#E5302D] ml-1">*</span></label
            >
          </div>
          <div class="flex justify-around items-center my-20">
            <button
              type="submit"
              class="w-40 h-10 text-white bg-[#E73130] rounded-full"
              (click)="updateEvent(); closeModal()"
            >
              Modifier
            </button>
            <button
              type="submit"
              class="w-40 h-10 text-white bg-[#E73130] rounded-full"
              (click)="deleteEvent(); closeModal()"
            >
              Supprimer
            </button>
          </div>
          <!-- Autres champs pour les autres informations de l'événement -->
        </form>
      </div>
    </div>
  </div>
</div>
