<mat-stepper
  class="bg-transparent mt-8 w-1/3 flex justify-around ml-96 p-10"
  orientation="vertical"
  [linear]="isLinear"
  *ngIf="mettings"
  #stepper
>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>
        <button mat-button matStepperNext (click)="IsSelected()">
          Accepter
        </button></ng-template
      >
      <mat-form-field appearance="fill">
        <mat-label *ngIf="Accepted">Entretien bien passée</mat-label>
      </mat-form-field>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" *ngFor="let meeting of mettings">
    <ng-template matStepLabel>
      <button mat-button matStepperNext>
        {{ meeting.title }}
      </button></ng-template
    >
    <mat-form-field appearance="fill">
      <mat-label>{{ meeting.description }}</mat-label>
    </mat-form-field>
  </mat-step>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>
        <button mat-button matStepperNext (click)="validateCandidacy()">
          Valider
        </button></ng-template
      >
      <mat-form-field appearance="fill">
        <mat-label *ngIf="Validated">Stage achevé avec succés</mat-label>
      </mat-form-field>
    </form>
  </mat-step>
</mat-stepper>

<mat-stepper
  class="bg-transparent mt-8 w-1/3 flex justify-around ml-64 p-10"
  orientation="vertical"
  [linear]="isLinear"
  *ngIf="internMeetings"
  #stepper
>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>
        <button mat-button matStepperNext >
          Accepté
        </button></ng-template
      >
      <mat-form-field appearance="fill">
        <mat-label *ngIf="internMeetings">Entretien bien passée</mat-label>
      </mat-form-field>
    </form>
  </mat-step>
  <mat-step
    [stepControl]="secondFormGroup"
    *ngFor="let internMeeting of internMeetings"
  >
    <ng-template matStepLabel>
      <button mat-button matStepperNext>
        {{ internMeeting.title }}
      </button></ng-template
    >
    <mat-form-field appearance="fill">
      <mat-label>{{ internMeeting.description }}</mat-label>
    </mat-form-field>
  </mat-step>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>
        <button
          mat-button
          matStepperNext
          (click)="getInternValidatedCandidacy()"
        >
          Validé
        </button></ng-template
      >
      <mat-form-field appearance="fill">
        <mat-label *ngIf="internValidated">Stage achevé avec succés</mat-label>
        <div *ngIf="internValidated">
          <button
            mat-button
            matStepperNext
            class="border border-[#424A88] bg-[#424A88] text-white mt-3 p-2 rounded-md"
            (click)="openPopUp()"
          >
            Evaluer
          </button>
        </div>
      </mat-form-field>
    </form>
  </mat-step>
</mat-stepper>

<div *ngIf="isPopupVisible" class="popup-overlay">
  <div class="flex-col popup-container relative justify-between w-11/12">
    <button class="right-1 top-1 absolute" (click)="closePopup()">x</button>
    <div class="relative my-16">
      <app-star></app-star>
    </div>
  </div>
</div>
