<div>
  <section class="flex justify-center">
    <div class="flex flex-col mr-64 my-16 p-12 py-28">
      <p class="text-[#424A88] text-2xl font-sans font-semibold">
        Trouvez les meilleures offres <br />
        et faites décrocher <br />
        votre diplôme !
      </p>
      <div
        class="flex mx-auto justify-between relative w-80 bg-white border rounded-full border-[#424A88] m-4"
      >
        <div
          class="top-0 right-0 absolute w-1/2 h-full bg-[#424A88] rounded-full duration-500"
        ></div>
        <button
          class="w-1/2 p-4 outline-none rounded-full bg-transparent relative text-[#424A88]"
          routerLink="/offerDetails"
        >
          Nos offres
        </button>
        <button
          class="w-1/2 p-4 outline-none rounded-full bg-transparent relative text-white"
          routerLink="/signup"
        >
          Je m’inscris
        </button>
      </div>
    </div>

    <div class="flex-col">
      <div class="img">
        <img src="../../assets/images/home1.png" alt="pas de photo" />
      </div>
    </div>
  </section>
  <section class="flex justify-center my-56">
    <div class="bg-[#FFFFFF] bg-opacity-30 w-3/4 h-80 pt-16 px-64">
      <h2 class="text-[#E5302D] opacity-100 ml-96 font-semibold">
        postuler à nos offres
      </h2>
      <br />
      <p class="opacity-100 justify-center text-base font-medium">
        À vous de convaincre les recruteurs que ce poste est fait pour vous !
      </p>
      <br />
      <div class="flex justify-center">
        <div class="flex-col items-inline my-6">
          <button
            type="button"
            id="btnSubmit"
            class="w-60 h-12 text-white bg-[#E73130] rounded-full"
            routerLink="/offerDetails"
          >
            Consulter nos offres
          </button>
        </div>
        <div
          class="flex ml-6 items-inline rounded-full h-12 w-3/5 bg-white pr-1 my-6 ri"
        >
          <div class="flex-col items-inline ml-6 my-4">
            <select class="outline-none" name="" id="">
              <option>informatique</option>
              <option>inforatique</option>
              <option>inforatique</option>
              <option>inforatique</option>
            </select>
          </div>
          <div class="flex-col items-inline mr-2 my-4 text-black">
            <p class="h-36 mx-6">|</p>
          </div>
          <div class="flex-col items-inline my-4">
            <input
              type="text"
              class="outline-none"
              placeholder="developement web "
            />
          </div>
          <div class="flex-col items-inline">
            <button
              type="button"
              id="btnSubmit"
              class="w-28 ml-32 my-1 h-10 text-white bg-[#E73130] rounded-full"
            >
              Chercher
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="flex items-center px-72 justify-around my-56">
    <div class="flex-col items-inline">
      <div class="img">
        <img src="../../assets/images/home2.png" alt="pas de photo" />
      </div>
    </div>
    <div class="flex-col items-inline">
      <h2 class="text-[#E5302D] font-semibold">
        Envoyer une canditature spantanée !
      </h2>
      <p class="text-base">
        Vous n’avez pas trouvé l’offre qui vous<br />
        fait vibrer ? Envoyez-nous une <br />candidature spontanée. <br />
        Un CV, quelques lignes pour parler de<br />
        vous, <br />
        et le tour est joué !
      </p>
      <br />
      <button
        type="button"
        id="btnSubmit"
        class="w-60 h-12 text-white bg-[#E73130] rounded-full"
        routerLink="/spontaneousCandidacy"
      >
        Envoyer ma candidature
      </button>
    </div>
  </section>
  <section class="flex-col justify-center items-center px-96 my-56">
    <h2 class="flex text-[#E5302D] justify-center font-semibold mx-auto">
      Les retours de nos candidats
    </h2>

    <div class="flex mt-40">
      <div
        class="flex-col items-inline bg-[#FFFFFF] bg-opacity-40 w-80 p-6 mx-8"
      >
        <div
          style="
            position: relative;
            margin-bottom: 10px;
            margin-top: -28%;
            transform: translateX(30%);
          "
        >
          <img src="../../assets/images/1.png" alt="pas de photo" />
        </div>
        <p>
          Aa top ! site pratique<br />
          trés facile à utiliser .<br />
          bref j’ai beaucoup aprécié mon experience,<br />
          je vous recommanderai sans hésiter !<br />

          <span class="text-[#E5302D]"
            >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;Julie Abararko</span
          >
        </p>
      </div>
      <div
        class="flex-col items-inline bg-[#FFFFFF] bg-opacity-40 w-80 p-6 mx-8"
      >
        <div
          style="
            position: relative;
            margin-bottom: 10px;
            margin-top: -28%;
            transform: translateX(30%);
          "
        >
          <img src="../../assets/images/2.png" alt="pas de photo" />
        </div>
        <p>
          Le process est rapide et fluide,<br />
          avec un trés bon suivi ,<br />
          merci à toute l’équipe por cette<br />
          merveilleuse experience !<br />

          <span class="text-[#E5302D]"
            >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;Bruno Wang</span
          >
        </p>
      </div>
      <div
        class="flex-col items-inline bg-[#FFFFFF] bg-opacity-40 w-80 p-6 mx-8"
      >
        <div
          style="
            position: relative;
            margin-bottom: 10px;
            margin-top: -28%;
            transform: translateX(30%);
          "
        >
          <img src="../../assets/images/3.png" alt="pas de photo" />
        </div>
        <p>
          L’équipe à l’écoute et au top de la <br />
          réactivité !<br />
          bref l’admin a fait preuve de la <br />
          professionnalisme et la sériosité<br />
          dand l’examination des demandes et<br />
          la mise en contact du candidat avec<br />
          la société .<br />

          <span class="text-[#E5302D]"
            >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;Camille Bertin</span
          >
        </p>
      </div>
    </div>
  </section>
</div>
