<div class="px-24 mt-14">
  <div class="flex flex-wrap lg:justify-between md:justify-around gap-8">
    <div *ngFor="let intershipOffer of intershipOffers">
      <div
        class="w-96 shrink-0 px-8 py-3 rounded-2xl flex flex-col bg-gradient-to-b from-[#FFFFFF]"
      >
        <div class="flex items-center justify-between">
          <img [src]="decode(intershipOffer.image)" alt="" class="h-20" />
          <button
            id="btn"
            (click)="
              addToFavorites(intershipOffer.intershipOffre?.id_intership_offre) ; abi(intershipOffer);
            "
          >
            <svg
              *ngIf="!isOfferFavorite(
                intershipOffer.intershipOffre.id_intership_offre
              ) && intershipOffer.showfere8!=true"

              id="my-icon"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              width="24"
              height="24"
            >
              <path fill="none" d="M0 0h24v24H0z" />
              <path
                d="M5 2h14a1 1 0 0 1 1 1v19.143a.5.5 0 0 1-.766.424L12 18.03l-7.234 4.536A.5.5 0 0 1 4 22.143V3a1 1 0 0 1 1-1zm13 2H6v15.432l6-3.761 6 3.761V4z"
                fill="rgba(229,48,45,1)"
              />
            </svg>
            <svg
              *ngIf="
                isOfferFavorite(
                  intershipOffer.intershipOffre.id_intership_offre
                )||intershipOffer.isButtonClicked == true
              "
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              width="24"
              height="24"
            >
              <path
                d="M5 2H19C19.5523 2 20 2.44772 20 3V22.1433C20 22.4194 19.7761 22.6434 19.5 22.6434C19.4061 22.6434 19.314 22.6168 19.2344 22.5669L12 18.0313L4.76559 22.5669C4.53163 22.7136 4.22306 22.6429 4.07637 22.4089C4.02647 22.3293 4 22.2373 4 22.1433V3C4 2.44772 4.44772 2 5 2Z"
                fill="rgba(231,49,48,1)"
              ></path>
            </svg>
          </button>
        </div>
        <p class="font-semibold flex-1">
          <span class="text-[#E5302D]"
            >{{ intershipOffer.intershipOffre?.company }} |</span
          ><br />{{ intershipOffer.intershipOffre?.topic }}
        </p>
        <div class="flex items-end mt-3">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            width="24"
            height="24"
            class="mr-3"
          >
            <path fill="none" d="M0 0h24v24H0z" />
            <path
              d="M12 20.9l4.95-4.95a7 7 0 1 0-9.9 0L12 20.9zm0 2.828l-6.364-6.364a9 9 0 1 1 12.728 0L12 23.728zM12 13a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 2a4 4 0 1 1 0-8 4 4 0 0 1 0 8z"
              fill="rgba(66,74,136,1)"
            />
          </svg>
          <span class="text-[#424A88]">{{
            intershipOffer.intershipOffre?.address
          }}</span>
        </div>
        <span class="ml-2 mt-4 text-slate-500"
          >publié le {{ intershipOffer.intershipOffre?.creation_date }}</span
        >
        <button
          *ngIf="!forDetail"
          class="bg-[#E5302D] text-white rounded-full py-1 text-sm block mt-6 ml-48 w-32 h-10"
          routerLink="/offre/{{
            intershipOffer.intershipOffre.id_intership_offre
          }}"
        >
          Détails
        </button>
        <button
          *ngIf="forDetail"
          class="bg-[#E5302D] text-white rounded-full py-1 text-sm block mt-6 ml-48 w-32 h-10"
          routerLink="/offreDetail/{{
            intershipOffer.intershipOffre.id_intership_offre
          }}"
        >
          Détails
        </button>
      </div>
    </div>
  </div>
</div>
