<div class="px-24 mt-14">
  <div class="flex flex-wrap lg:justify-between md:justify-around gap-8">
    <div *ngFor="let SupervisorIntershipOffer of SupervisorIntershipOffers">
      <div
        class="w-96 shrink-0 p-8 rounded-2xl flex-col bg-gradient-to-b from-[#FFFFFF] shadow-lg"
      >
        <div class="font-semibold">
          <span class="text-[#E5302D]"
            >{{ SupervisorIntershipOffer.company }} |</span
          >
          <p>{{ SupervisorIntershipOffer.topic }}</p>
        </div>
        <span class="text-[#424A88] text-lg"
          >Candidats | <br />
          {{ SupervisorIntershipOffer.candidacy_number }}</span
        >
        <div class="flex relative mt-4">
          <button (click)="showModifyOffer = true">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              width="24"
              height="24"
            >
              <path
                d="M15.7279 9.57629L14.3137 8.16207L5 17.4758V18.89H6.41421L15.7279 9.57629ZM17.1421 8.16207L18.5563 6.74786L17.1421 5.33365L15.7279 6.74786L17.1421 8.16207ZM7.24264 20.89H3V16.6474L16.435 3.21233C16.8256 2.8218 17.4587 2.8218 17.8492 3.21233L20.6777 6.04075C21.0682 6.43128 21.0682 7.06444 20.6777 7.45497L7.24264 20.89Z"
                fill="rgba(66,74,136,1)"
              ></path>
            </svg>
          </button>
          <button
            class="ml-4"
            (click)="
              deleteIntershipOffer(SupervisorIntershipOffer.id_intership_offre)
            "
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              width="24"
              height="24"
            >
              <path
                d="M17 6H22V8H20V21C20 21.5523 19.5523 22 19 22H5C4.44772 22 4 21.5523 4 21V8H2V6H7V3C7 2.44772 7.44772 2 8 2H16C16.5523 2 17 2.44772 17 3V6ZM18 8H6V20H18V8ZM9 11H11V17H9V11ZM13 11H15V17H13V11ZM9 4V6H15V4H9Z"
                fill="rgba(66,74,136,1)"
              ></path>
            </svg>
          </button>
          <button
            class="absolute right-4"
            (click)="
              getOffer(SupervisorIntershipOffer.id_intership_offre);
              SelectOffer();
              eventChild(
                SupervisorIntershipOffer.id_intership_offre,
                showOfferDetails
              )
            "
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              width="24"
              height="24"
            >
              <path
                d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"
                fill="rgba(229,48,45,1)"
              ></path>
            </svg>
          </button>
        </div>
      </div>
      <ng-container *ngIf="showModifyOffer">
        <app-modify-intership-offer
          [offer]="SupervisorIntershipOffer"
        ></app-modify-intership-offer>
      </ng-container>
    </div>
  </div>
</div>
